  body {
    font-family: 'Muli', verdana, sans-serif;
  }

  button {
    border: none;
    font-family: 'Muli', verdana, sans-serif;
    margin: 2px;
  }

  button:hover {
    opacity: 0.8;
  }

  input[type="text"] {
    display: block;
    margin: 0;
    width: 70%;
    font-family: sans-serif;
    font-size: 10px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    color: black;
  }


  .endTime {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

  }

  .weeklyLayout {
    background-color: #9BC1BC;
    height: 315px;
    width: 1060px;
  }

  .weekday {
      position: relative;
      margin: 5px;
      padding: 5px  ;
      vertical-align: top;
      display: inline-block;
      background: #E6EBE0;
      height: 300px;
      width: 140px;
  }

  .weekdayName {
    background-color: #F45B69;
    color: #E6EBE0;
    padding: 3px;
    margin-bottom: 5px;
  }

  .calendarWeeklyLayout {
    width: 700px;
    background-color: white;
    padding: 1px;
    height: 220px ;
  }

  .calendarWeek {
/*    border: solid 3px grey;
*/    margin: 0px;
      width: 80px;
      height: 200px;
  }


  .theWorkouts {
    font-size: 12px;
    color: #E6EBE0;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #5CA4A9;
  }

  .theWorkouts:hover {
    opacity: 0.5;
  }

  .calendarEntries {
    height: 10px;
    margin: 1px;
    font-size: 9px;
  }

  .calendarWeekDayName {
    font-size: 12px;
  }

  .addNew {
    background-color: #F45B69;
    color: #E6EBE0;
    font-size: 10px;
    margin-bottom: 3px;
    cursor: normal;
  }

  .addNewMain:hover {
    background-color: #F47C86;
    cursor: normal;
  }

  .workoutDetailed {
    font-size: 11px;
  }

  .workoutBlank {
    color: #E6EBE0;
    background-color: #E6EBE0;
  }

  [ng-drag].drag-over {
      border: solid 3px grey;
      background-color: yellow;
  }

  [ng-drop].drag-enter {
      border: solid 3px grey;
  }

  .cardio {
    background-color: #52AF60;
  }

  .weightlifting {
    background-color: #0A8D93;
  }

  .stretching {
    background-color: #028090;
  }

  .other {
    background-color: #006696;
  }

/*   *****************************   */


.workout-item
{
    padding:10px 10px;
    margin:0px;
    border-bottom:1px dotted #555;
}

/* D3 bar chart */

/*d3 {
    font: 10px sans-serif;
}*/
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}


/*
 * Full-page application style
 */

body.application,
.keen-dashboard {
  background: #f2f2f2;
  font-family: Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 60px 20px 0;
}

body.application > .container-fluid,
.keen-dashboard > .container-fluid {
  margin: 0 0 32px;
  margin: 0 0 2rem;
  padding-left: 0;
  padding-right: 0;
}

body.application div[class^="col-"],
.keen-dashboard div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

body.application div[class^="col-"] div[class^="col-"],
.keen-dashboard div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr,
.keen-dashboard hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

body.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}

body.application .navbar-inverse .navbar-nav > li > a,
body.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

body.application .main-nav > li > a:hover,
.keen-dashboard .main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

body.application .return-link,
body.application .return-link:focus,
body.application .return-link:hover,
.keen-dashboard .return-link,
.keen-dashboard .return-link:focus,
.keen-dashboard .return-link:hover {
  text-decoration: none;
}


.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}
