<center>
{{ workoutsDatabase }}
For the week of: {{ weekStart }} to {{ weekEnd }}<br>

Scheduler that can add workouts:
<div class="weekly">
  <div class="weekday" ng-repeat="dayOfWeek in allWorkouts">
    <div class="weekdayName">{{ dayOfWeek[0] }}</div>
    <div class="addNew addNewMain" ng-show="!addNewElement[dayOfWeek[0]].hidden" ng-click="toggle(addNewElement[dayOfWeek[0]])">add new!</div>
    <div class="addNew" ng-show="addNewElement[dayOfWeek[0]].hidden">
      <br>
      category:
      <br>
      <form>
      <select name="workoutCategory" ng-model="category">
        <option ng-repeat="(cat, types) in workoutData" value="{{ cat }}">{{ cat }}</option>
      </select>
      <br><br>
      workout:
      <br>
      <select name="workoutType" ng-model="type">
        <option ng-repeat="type in workoutData[category]" value="{{ type }}">{{ type }}</option>
      </select>
      <br><br>
      <button ng-click="addWorkout(dayOfWeek[0], type); toggle(addNewElement[dayOfWeek[0]])">add workout!</button>
      <br>
      <button ng-click="toggle(addNewElement[dayOfWeek[0]])">cancel</button>
      <br><br>
      </form>
    </div>
    <div class="theWorkouts" ng-repeat="workout in dayOfWeek[2]">
    <span ng-show="!workout.hidden" ng-click="toggle(workout)">{{ workout.type }}</span>

    <span ng-show="workout.hidden" class="workoutDetailed">
      <button ng-click="toggle(workout)">go back</button>
      <br><br>
      <span ng-repeat="field in workoutFields">
        {{ field }}: <span editable-text="workout[field]" placeholder="[click to edit]"> <br></span>
      </span>
      <br>
      <button ng-click="addField(newField, workoutFields)">add field</button>
      <input type="text" ng-model="newField">
    </span>
  </div>
</div>

Draggable calendar:
<div class="weekly calendarWeeklyLayout">
  <div class="weekday calendarWeek" ng-repeat="dayOfWeek in allWorkouts">
    <div class="weekdayName calendarWeekdayName">{{ dayOfWeek[0] }}</div>
    <div ng-repeat="blank in calendarTimes[dayOfWeek[0]] track by $index" class="calendarEntries {{ blank.class }}" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event, calendarTimes[dayOfWeek[0]])">
      <div ng-drag="true" ng-drag-data="blank">
        {{ blank.type }}
      </div>
    </div>
  </div>
</div>

Non draggable calendar:
<div class="weekly calendarWeeklyLayout">
  <div class="weekday calendarWeek" ng-repeat="dayOfWeek in allWorkouts">
    <div class="weekdayName calendarWeekdayName">{{ dayOfWeek[0] }}</div>
    <div ng-repeat="blank in calendarTimes[dayOfWeek[0]] track by $index" class="calendarEntries {{ blank.class }}" >
      <div>
        {{ blank.type }}
      </div>
    </div>
  </div>
</div>

</center>